<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <RollingFile name="RollingFile" fileName="logs/agent.log" filePattern="logs/agent.log%1">
		<PatternLayout pattern="%d{ISO8601} | %p | %m%n"/>
	    <Policies>
	      <SizeBasedTriggeringPolicy size="20 MB" />
	    </Policies>
		<DefaultRolloverStrategy max="5"/>	    
    </RollingFile>
  </Appenders>
  <Loggers>
 	<Logger name="org.flywaydb.core" level="ERROR" additivity="false">
        <Appender-Ref ref="RollingFile"/>
    </Logger>
    <Root level="DEBUG">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>